/twig/cache/*
!/twig/cache/.gitkeep
/thumbs/*
!/thumbs/.gitkeep
/media/*
!/media/.gitkeep
/incoming/*
!/incoming/.gitkeep
/processed/*
!/processed/.gitkeep
/logs/*
!/logs/.gitkeep
/vendor/
.env
RESUME.md
